.form-add-book {
  padding-bottom: 40px;
  width: 95%;
  margin: 20px auto;
}

.form-add-book h1 {
  font-size: 18px;
}

form input {
  padding: 6px 10px;
  width: 20%;
  margin-right: 20px;
  border: rgb(146, 168, 236) 1px solid;
  font-size: 18px;
  margin-bottom: 20px;
}
form input:focus {
  outline: none;
}
form button {
  padding: 9px 12px;
  width: 20%;
  margin-left: 2%;
  color: #fff;
  background-color: rgb(12, 12, 103);
  border: 1px solid blue;
  opacity: 0.8;
}
