.book-container {
  width: 90%;
  border: 1px solid lightcyan;
  padding: 2%;
  margin: 20px auto;
  box-shadow: -1px -1px 2px 1px  #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.part-one ul {
  display: flex;
  align-items: center;
  margin: 5px 0 0 -40px;
}

.part-one button {
  list-style-type: none;
  margin-right: 10px;
  border-right: 2px solid #999;
  padding-right: 8px;
  color: #0290ff;
  opacity: 0.6;
}

.catagory {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
  opacity: 0.8;
}

.part-one .title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
}

.author {
  margin: 0;
  font-size: 14px;
  color: #0290ff;
  text-transform: capitalize;
  opacity: 0.6;
}

.part-three {
  border-left: 2px solid #999;
  padding-left: 20px;
}

.chapter-curr {
  font-size: 16px;
  margin: 0;
  color: #888;
  padding: 5px 0;
}

.part-two {
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon-complete {
  color: #0290ff;
  font-size: 50px;
  margin: 10px;
}

.text-com {
  margin-top: -25px;
  color: #888;
}

.percent-com {
  font-size: 30px;
  font-weight: 700;
  opacity: 0.8;
}

.current {
  margin: 2px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
}

.btn-n {
  background: #0290ff;
  border: 1px solid #0290ff;
  padding: 8px 15px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  font-size: 14px;
}

.noborder {
  border: none;
  margin-left: -10px;
  margin-top: 10px;
  background: #fff;
  margin-right: 20px;
  padding: 5px 10px;
  border-right: 2px solid #888;
  cursor: pointer;
}
